.modname {
    float: left;
    margin: 10px 0px 10px 10px;
    text-align: center;
}

.moditem {
    border-bottom: 1px solid #E7E7E7;
    overflow: auto;
    padding: 5px 0px 5px 0px;
    transition-duration: 0.3s;
}

.moditem.selected {
    background-color: #FFFFFF;
}

